.main
{
  width: 100%;
  /*min-height: 100%;*/
  background-color: #edf5ed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.content
{
  width: 800px;
  /*height: 600px;*/
  /*border:  1px solid red;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}
.firstLine
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btnLine
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  width: 100%;
  text-align: center;
  /*border: 1px solid red;*/
}
.createBtn
{
  width: 30%;
}
.addressDetailAndPasteBtnLine
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pasteBtnAndParseBtn
{
  margin-left: 10px;
}
.itemContent
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid red;*/
  width: 100%;
  min-height: 20px;
}
.actionArea
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.removeArea
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.count
{
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
